.no-underline {
  text-decoration: none !important;
}

.icon {
  max-width: 25px;
}

.icon-build {
  max-width: 20px;
}

.loader {
  display: inline-block;
  font-size: initial;
  box-sizing: border-box;
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(359deg);
  }
}

.spin {
  animation: spin 2s linear infinite;
}
